################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/S2-obdelniky/S2-obdelniky/.vs/S2-obdelniky
sem_test_priprava/.vs
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/